<!DOCTYPE html>
<html lang="ko">
<head>
    <title>Planify</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<div class="container">

    <!-- Header -->
    <header>
        <h1>Planify</h1>
        <p>간편하게 할 일을 관리해보세요!</p>
    </header>

    <!-- addTodo Form -->
    <form th:action="@{/addTodo}" th:object="${todos}" method="post">
        <div>
            <textarea type="text" placeholder="오늘 할 일을 등록해주세요!" onclick="clearPlaceholder(this)"></textarea>
        </div>
        <button type="submit">등록</button>
    </form>

    <!-- todoList -->
    <ul>
        <li th:each="todo : ${todos}">
            <span th:text="${todo.content}"></span>
            <span th:text="${todo.isCompleted}"></span>
            <span th:text="${todo.priority}"></span>
            <span th:text="${todo.deadline}"></span>
            <span th:text="${todo.createdAt}"></span>
            <span th:text="${todo.updatedAt}"></span>
        </li>
    </ul>
</div>

    <!-- Scripts -->
    <script src="../../static/script.js"></script>
</body>
</html>